@mixin centralized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#formTest {
    width: 300px;
    @include centralized; 
    
    .form-group label span {
        color: red;
    }    
    
    #btnSubmit {
        display: flex;
        margin-left: auto;
    }

    .alert {
        display: none;
    }    
}


 
