#formTest {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#formTest .form-group label span {
  color: red;
}
#formTest #btnSubmit {
  display: flex;
  margin-left: auto;
}
#formTest .alert {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
